# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment Variables
.env

# Database
*.db
*.sqlite3

# Uploads
uploads/*

# Logs
*.log

# Pytest
.pytest_cache/

# VS Code
.vscode/

# macOS
.DS_Store

*.pyc